<div class="topnav">
   
    <a id="link_principal" class="visible" [routerLink]="['/principal']">Principal</a>
    <a id="link_tienda" class="visible" [routerLink]="['/tiendas']">Tiendas</a>
    <a id="link_empleados" class="visible" [routerLink]="['/empleados']">Empleados</a>
    <a id="link_roles" class="visible" [routerLink]="['/roles']">Roles</a>
    <a id="link_permisos" class="visible" [routerLink]="['/permisos']">Permisos</a>
    <a  style="float:right" class="cerrar" [routerLink]="['/login']">Cerrar Sesion</a>

</div>
