<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-white m-4">Editar Rol</h1>
    </div>
</div>
<div class="container bg-secondary p-2 text-center col-sm-6">
    <form action="" #formRol="ngForm" (ngSubmit)="editarRol()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Rol</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" name="nombre" #nombre="ngModel" [(ngModel)]="rol.nombre" placeholder="Ingrese nombre del rol">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Caracteristicas</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="" rows="3" name="descripcion" #descripcion="ngModel" [(ngModel)]="rol.descripcion" placeholder="Caracteristicas del rol"></textarea>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
