<navbar #barraRoles></navbar>
<div class="container">
    <div class="row justify-content-center">
        <!-- añadir responsive col-**-num -->
        <h1 class="text-white m-4">Roles</h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-end">
        <div class="">
            <button type="" class="btn bg-success" [routerLink]="['/roles/nuevoRol']">Nuevo Rol</button>
        </div>
    </div>
</div>
<div ng-hide="isRoles">
    <h3>{{msg}}</h3>
</div>
<div ng-show="isRoles">
    <div class="" *ngFor="let rol of roles">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">NOMBRE: {{rol.nombre}}</p>
                <p class="card-text">DESCRIPCION: {{rol.descripcion}}</p>
                <a [routerLink]="['/rol/editar', rol.id_rol]" class="btn btn-warning">Editar</a>
                <a (click)="onEliminarRol(rol.id_rol)" class="btn btn-danger" >Eliminar</a>
            </div>
        </div>
    </div>
</div>