/* You can add global styles to this file, and also import other style files */
.fondo{
    position: fixed;
    z-index: -10;
    user-select: none;
    height: 100%;
    width: 100%;
}

body{
    background: #c9c9c9
}